<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>HRIS</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js">
</script>
<link rel="stylesheet" href="style.css">
</head>

<body>

	<div class="wrapper">

		<nav id="sidebar">

			<div class="sidebar-header">
				<h3>HRIS</h3>
			</div>

			<ul class="lisst-unstyled components">

				<p>The providers</p>
				<li class=active>
					<li>
						<a th:href="@{/}">Dashboard</a>
					</li>
				</li>
				<li>
					<a  th:href="@{/employees}">Employee</a>
				</li>
				<li>
					<a href="#pageSubmenu" data-toggle="collapse"
						aria-expanded="false" class="dropdown-toggle">
						General Management
					</a>
					<ul class="collapse lisst-unstyled" id="pageSubmenu">
						<li>
							<a th:href="@{/department}">Department</a>
						</li>
						<li>
							<a th:href="@{/position}">Position</a>
						</li>
						<li>
							<a th:href="@{/employee_status}">Employee Status</a>
						</li>
					</ul>
				</li>

				<li><a th:href="@{/generate_report}">Generate Report</a></li>
				<li><a th:href="@{/admin}">Admin</a></li>
			</ul>
			
		</nav>

		<div id="content">
			<div class="container">
				<h1>Employee Management System</h1>
				<hr>
				<h2>Update Employee</h2>
				
				<form action="#" th:action="@{/save_employee}" th:object="${employee}" method="POST">
					<input type="hidden" th:field="*{id}" class="form-control mb-4 col-4">
					<input type="text" th:field="*{firstName}" class="form-control mb-4 col-4">
					<input type="text" th:field="*{lastName}" class="form-control mb-4 col-4">
					<input type="text" th:field="*{email}" class="form-control mb-4 col-4">
					
					<button type="submit" class="btn btn-info col-2">Save Employee</button>
				</form>
			</div>
		</div>

	</div>



	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#sidebarCollapse").on('click', function() {
				$("#sidebar").toggleClass('active');
				alert("work");
			});
		});
	</script>

</body>
</hmtl>